<style>
    .content-game-socratic-discussion {
        background-color: #fff;
        padding: 40px;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 600px;
        justify-content: center;
        align-items: center;
    }

    #content-game-socratic-discussion .content-game-socratic-discussion h1 {
        text-align: center;
        margin-bottom: 30px;
        color: #333;
    }

    #content-game-socratic-discussion .submit-button {
        display: block;
        width: 160px;
        padding: 12px;
        background-color: #63b3ed;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.3s ease;
        margin: 0 auto;
    }

    #content-game-socratic-discussion .submit-button:hover {
        background-color: oklch(0.488 0.243 264.376);
    }

    @media (max-width: 768px) {
        .content-game-socratic-discussion {
            width: 95%;
        }
    }
</style>
<div class="content-game-socratic-discussion">
    <h1>Socratic Discussion</h1>            
    <p>This innovative project aims to create a new sub-genre in gaming, specifically focused on Debating.</p>
    <p>Think VR Chat, but for debates. In this game, people join an Agora(a large open space where Athenians debated), vote on a topic and vote on the people to debate the topic.</p>
    <p>Everyone can vote and voting takes place in a style similar to Dynamic Brackets as used on X(twitter). The topic with the most votes is selected, and the top 2 players are selected to debate(1 player for and the other against the topic).</p>
    <p>The 2 debators are placed on a center stage, where each side takes turns to argue a point. Everyone else votes yay or nay and can perform Actions showing their support or opposition.</p>
    <p>The goal of the game is NOT to win the debate but to engage in it. The debate ends when everyone else decides to switch topics, and the cycle continues.</p>
    <p>People get XP points for engaging in voting or performing Actions. This XP adds to their level and can be used to unlock cosmetic items or Actions.</p>
    <br>
    <p>Contact us to learn more about how we can help you achieve your goals.</p>
    <button id="content-game-socratic-discussion-button" class="submit-button" onclick="window.location.hash = 'contactForm'">Contact Us</button>
</div>
<script>
    if (document.getElementById("container").dataset.showContactPage == 'true') {
        document.getElementById("content-game-socratic-discussion-button").onclick = function(){window.location.href = 'contact.html'}
    }
</script>