<!DOCTYPE html>
<html>
<head>
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="/css/chat-widget.css">
</head>
<body>
    <div class="page-container">
        <div class="content-wrap">
            {{ partial "header.html" . }}
            <main>
                {{ block "main" . }}{{ end }}
            </main>
        </div>
        {{ partial "footer.html" . }}
    </div>
    <div id="root"></div>
    {{ $chatWidget := resources.Get "js/chat-widget.js" | resources.ExecuteAsTemplate "js/chat-widget.js" . }}
    <script type="module" src="{{ $chatWidget.Permalink }}"></script>
</body>
</html>
