<style>
    .content-aboutus {
        background-color: #fff;
        padding: 40px;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 600px;
        justify-content: center;
        align-items: center;
    }

    #content-aboutus .content-aboutus h1 {
        text-align: center;
        margin-bottom: 30px;
        color: #333;
    }

    #content-aboutus .submit-button {
        display: block;
        width: 160px;
        padding: 12px;
        background-color: var(--light-button-color);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.3s ease;
        margin: 0 auto;
    }

    .light-mode #content-aboutus .submit-button {
        background-color: var(--light-button-color);
    }

    #content-aboutus .submit-button:hover {
        background-color: oklch(0.488 0.243 264.376);
    }

    @media (max-width: 768px) {
        .content-aboutus {
            width: 95%;
        }
    }
</style>
<div class="content-aboutus">
    <h1>About Us</h1>
    <p>We are a dynamic team of engineers, investors, and entrepreneurs passionate about unlocking business potential. We specialize in identifying and resolving bottlenecks, securing capital, and driving growth for businesses of all sizes.</p>
    <p>Our core principles are:</p>
    <ul>
        <li><strong>Value-Based Consulting:</strong> Delivering measurable results that align with your strategic goals.</li>
        <li><strong>Empowering Autonomy:</strong> Fostering independence to boost productivity and innovation.</li>
        <li><strong>Freedom from Vendor Lock-In:</strong> Providing flexible solutions that keep you in control.</li>
    </ul>
    <br>
    <p>Partner with us to achieve your ambitions. Contact us today to learn how we can help you reach your goals.</p>
    <button id="content-aboutus-button" class="submit-button" onclick="window.location.hash = 'contactForm'">Contact Us</button>
</div>
<script>
    if (document.getElementById("container").dataset.showContactPage == 'true') {
        document.getElementById("content-aboutus-button").onclick = function(){window.location.href = 'contact.html'}
    }
</script>