<style>
    .content-businessintelligence {
        background-color: #fff;
        padding: 40px;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 600px;
        justify-content: center;
        align-items: center;
    }

    #content-businessintelligence .content-businessintelligence h1 {
        text-align: center;
        margin-bottom: 30px;
        color: #333;
    }

    #content-businessintelligence .submit-button {
        display: block;
        width: 160px;
        padding: 12px;
        background-color: var(--light-button-color);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.3s ease;
        margin: 0 auto;
    }

    .light-mode #content-businessintelligence .submit-button {
        background-color: var(--light-button-color);
    }

    #content-businessintelligence .submit-button:hover {
        background-color: oklch(0.488 0.243 264.376);
    }

    @media (max-width: 768px) {
        .content-businessintelligence {
            width: 95%;
        }
    }
</style>
<div class="content-businessintelligence">
    <h1>Business Intelligence</h1>
    <p>We empower organizations to make smarter, data-driven decisions. Our experts build robust data collection frameworks and analyze your business operations to uncover hidden inefficiencies and create new value.</p>
    <p>Our proven workflow includes:</p>
    <ul>
        <li><strong>Data Infrastructure Enhancement:</strong> We upgrade your existing supply chain systems to capture richer, more granular data.</li>
        <li><strong>Insightful Dashboards:</strong> We transform raw data into intuitive, interactive dashboards, providing clients and management with a clear view of their operations.</li>
        <li><strong>Advanced Analytics:</strong> We leverage AI and expert business analysis to deliver actionable, data-driven recommendations for improvement.</li>
    </ul>
    <br>
    <p>Ready to unlock your data's potential? Contact us to learn how our Business Intelligence solutions can help you achieve your goals.</p>
    <button id="content-businessintelligence-button" class="submit-button" onclick="window.location.hash = 'contactForm'">Contact Us</button>
</div>
<script>
    if (document.getElementById("container").dataset.showContactPage == 'true') {
        document.getElementById("content-businessintelligence-button").onclick = function(){window.location.href = 'contact.html'}
    }
</script>