<style>
    footer {
        background-color: rgb(31 41 55);
        color: #cbd5e0;
        padding: 20px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center; /* Center items horizontally */
        flex-wrap: wrap;
        position: relative;
    }
    footer a {
        margin-bottom: 10px; /* Add spacing between footer items */
        flex: 1;
        text-align: center;
        color: #cbd5e0;
        text-decoration: none;
    }

    footer a:hover{
        text-decoration: underline;
    }

    footer p {
        margin-top: 20px; /* Add spacing before copyright text */
        width: 100%;
        text-align: center;
    }

    .light-mode footer, .light-mode footer a {
        background-color: #e2e8f0;
        color: #2d3748;
    }

</style>
<footer>
    <a href="#">Contact Us</a>
    <a href="#">About Us</a>
    <a href="#">Careers</a>
    <a href="#">Inquire</a>
    <p style="display:block">&copy;<span id="copyrightDate"></span> My Website. All rights reserved.</p>
</footer>
<script>
    document.getElementById("copyrightDate").innerHTML = new Date(Date.now()).getFullYear();
</script>
