{{ define "main" }}
{{ partial "showcase.html" (dict "image" (printf "/images/trades/%s/1.webp" (.Site.Params.trade | lower)) "contentPath" "marketing/headline" "context" .) }}

{{ with .Site.GetPage "/marketing/whatWeDo" }}
  <section class="container homepage-content">
    {{ .Content }}
  </section>
{{ end }}

{{ partial "showcase.html" (dict "image" (printf "/images/places/%s/1.webp" (.Site.Params.city | lower)) "contentPath" "marketing/servingTextOnly" "context" .) }}

{{ with .Site.GetPage "marketing/aboutUs" }}
  <section class="homepage-content">
    {{ .Content }}
  </section>
{{ end }}

<section class="homepage-content banner">
  {{ partial "articles.html" . }}
</section>

{{ with .Site.GetPage "/contact" }}
  <section class="homepage-content">
    {{ .Content }}
  </section>
{{ end }}


{{ end }}
