{{ define "main" }}
{{ partial "showcase.html" (dict "image" (printf "/images/trades/%s/1.webp" .Site.Params.trade) "contentPath" "marketing/headline" "context" .) }}

{{ with .Site.GetPage "/marketing/whatWeDo" }}
  <section class="container homepage-content">
    {{ .Content }}
  </section>
{{ end }}

{{ partial "showcase.html" (dict "image" (printf "/images/places/%s/1.webp" .Site.Params.city) "contentPath" "marketing/servingTextOnly" "context" .) }}

{{ with .Site.GetPage "marketing/aboutUs" }}
  <section class="banner homepage-content">
    {{ .Content }}
  </section>
{{ end }}

{{ with .Site.GetPage "/contact" }}
  <section class="homepage-content">
    {{ .Content }}
  </section>
{{ end }}
{{ end }}
