:root{
    --light-background-color: white;
    --light-header-color: black;
    --light-header-text-color: white;
    --light-text-color: black;
    --light-highlight-color: #333;
    --light-button-color: #171717;
    --dark-background-color: black;
    --dark-header-color: #337;
    --dark-text-color: white;
    --dark-highlight-color: #347;
    --dark-button-color: #5020FF;
}
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
line-height: 1.6;
}
header {
background: #333;
color: #fff;
padding: 10px 20px;
text-align: center;
top: 0;
}
footer {
background: #333;
color: #fff;
padding: 10px 20px;
text-align: center;
position: fixed;
bottom: 0;
width: 100%;
}
nav {
margin: 10px 0;
text-align: center;
}
nav a {
margin: 0 10px;
text-decoration: none;
color: #333;
}
.container {
max-width: 800px;
margin: 20px auto;
padding: 20px;
border: 1px solid #ddd;
border-radius: 5px;
}
.hidden {
display: none;
}
input, button, textarea {
width: 100%;
padding: 10px;
margin: 10px 0;
border: 1px solid #ddd;
border-radius: 5px;
}
button {
background: #333;
color: white;
cursor: pointer;
}
button:hover {
background: #555;
}